{
  "tabWidth": 2,
  "useTabs": false,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["clsx"],
  "overrides": [
    {
      "files": "**/files.ts",
      "options": {
        "printWidth": 120
      }
    },
    {
      "files": "**/featuredFigures.json",
      "options": {
        "printWidth": 130
      }
    }
  ]
}
