@keyframes fadeIn {
  0% {
    opacity: 0;
    pointer-events: none;
    transform: scaleY(0%) scaleX(0%)
  }

  80% {
    pointer-events: none;
    transform: scaleY(1)

  }
  81% {
    pointer-events: all;
  }
  100% {
    opacity: 1;

  }
}

.fadeIn {
  animation: fadeIn 0.4s;

}

.fadeOut {
  opacity: 0;
  transition: opacity 0.3s;
}
